nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 98%;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    border-radius: 50px;
    background-image: url(/images/CityRain.gif);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: darkslategray;
}
    

.logo {
    position: absolute;
    left: 50px;
    font-size: 25px;
    color: white;
}
.nav-sounds{
    margin: 10px;
    background-color: aquamarine;
    height: 100%;
    width: 125px; 
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav-sounds:hover{
    opacity: .5;
}
.nav-timer{
    margin: 10px;
    background-color: lightcoral;
    height: 100%;
    width: 125px;    
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav-timer:hover{
    opacity: .5;
}
.nav-login{
    position: absolute;
    right: 50px;
    font-size: 20px;
    color: white;
    height: 100%;
    width: 125px;
    border-radius: 50px;
}
.nav-login:hover{
    opacity: .5;
    cursor: pointer;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 90px;
    height: 75vh;
    width: 100vw;
    background-color: lightgray;
    border-radius: 50px;
    background-image: url(/images/CityRain.gif);
    background-size: cover;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.slider{
    height: 20vh;
    width: 32vw;
    background-color: black;
    border-radius: 50px;
    margin:auto;
    color: white;
    display: flex;
    position: relative;
}

#switcher{
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 75px;
    background-color: transparent;
    background-image: url(images/switch.png);
    background-size: cover;
    border: none;
}
.sound-range{
    position: relative;
    width: 90%;

}
.range-container{
    height: 30px;
    width: 90%;
    position: absolute;
    bottom: 0px;
    margin-top: auto;
    left: 10%;
}
.slider-text{
    position: absolute;
    left: 15%;
    font-size: x-large;

}
.value{
    position: absolute;
    right: 25%;
    font-size: xx-large;
    color: darkslategray;
}
.soundon{
    position: absolute;
    left: 15%;
    top: 0px;
    z-index: 4;
}
.soundonbox{
    z-index: 5;
}



