nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 98%;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    border-radius: 50px;
    background-image: url(/images/CityRain.gif);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: darkslategray;
}
    

.logo {
    position: absolute;
    left: 50px;
    font-size: 25px;
    color: white;
}
.nav-sounds{
    margin: 10px;
    background-color: aquamarine;
    height: 100%;
    width: 125px; 
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav-timer{
    margin: 10px;
    background-color: lightcoral;
    height: 100%;
    width: 125px;    
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 90px;
    height: 75vh;
    width: 100vw;
    background-color: lightgray;
    border-radius: 50px;
    background-image: url(/images/CityRain.gif);
    background-size: cover;
    position: relative;
    
}
.slider{
    height: 20vh;
    width: 30vw;
    background-color: grey;
    border-radius: 50px;
    margin-top: 15px;
    display: inline-block;

}
#switcher{
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 75px;
    background-color: transparent;
    background-image: url(images/switch.png);
    background-size: cover;
    border: none;
}